body{
    background-color: blueviolet;
}
h1{
    text-align: center;
}
.rand{
    margin: 0 auto;
    /* background-color: rgba(127, 255, 212, 0.449); */
    /* width: 400px; */
    text-align: center;
}
#numberList{
    margin: 0 auto;
    width: 600px;
}
li{
    list-style-type: none;
    color: red;
    font-size: 40px;
    /* width: 50px; */
}

.num{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    /* background-color: blue; */
}