body{
    background-color: blueviolet;
}
h1{
    text-align: center;
}
.rand{
    margin: 0 auto;
    /* background-color: rgba(127, 255, 212, 0.449); */
    text-align: center;
}
li{
    list-style-type: none;
    color: red;
    font-size: 40px;
    width: 50px;
}
.num{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /* background-color: blue; */
}
.xnd{
    background-color: rgb(9, 9, 9);
    color: wheat;
    padding: 20px;
    
}